@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Kufam:wght@100;200;300;400;500;600;700;800;900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    background: url(../img/javascript.png) no-repeat center;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    min-height: 100vh;
}

main {
    margin: 5rem auto;
    width: 80%;

}

header h1 {
    background-color: #34006488;
    color: rgb(255, 255, 255);
    padding: 3rem;
    text-align: center;
    border-bottom: 4px solid rgb(0, 129, 90);
}
header h1 a:link,
header h1 a:visited {
    background-color: #006b4b88;
    color: rgb(0, 0, 0);
    float: left;
    padding: 0 3px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

header h1 a:hover {
    background-color: #ffffffbb;
    transform: translateX(-20px);
}

section {
    background-color: #000000bb;
    color: rgb(199, 199, 199);
    padding: 2rem;
    min-height: 20rem
}

section h3 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px dotted #df3e16;
}