@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Kufam:wght@100;200;300;400;500;600;700;800;900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    background: url(../img/javascript.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    overflow-y:scroll;
    justify-content: center;
    font-weight: 200;
    min-height: 50vh;
    margin-bottom: 0.5rem;
}

main {        
    margin: 5rem auto;
    width: 415px;
}

header h1 {        
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-align: center;
}

header h1 a:link,
header h1 a:visited {
    display: flex;
    color: #000000;
    position: absolute;
    left: 10rem;
    text-decoration: none;
    transition: transform 1s ease-in;
}    

header h1 a svg {
    height: 2.5rem;
    width: 2.5rem;
}
















